{% extends "@application/layout/layout.twig" %}

{% block content %}
    <div class="container text-block">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>Contentful Testpage!</h2>
            </div>
        </div>
    </div>

    {{ renderContentfulEntry('11jDpoU6FwckoKoccSycCQ') }}

    <!--
    3p7AUqrC1GkGc06kye4YwK// flsche zur tasche
    4A0rPFLbcAquIkQKcS0kEC // content image
    5ViIK2xGnuqyO4uWCsSOq4 // content video
    1xwSx4f0wAogioukIiGSCA // hero teaser
    1usXFoT6bSYe8IGiIEmuIq // hero teaser
    7zXNhIKBr2ge2qog6K4w4C // product feature group
    11jDpoU6FwckoKoccSycCQ // responsibility logos
    q2XYHfbcvmU4I24y0qWSe // social icons - läuft
    4xgIrRHe24A8s0uYU2qIk4 // teaser group - big box
    wSnb4kTMC4QKYeu4y8c0u // teaser group - sky,land,land
    E0hkECKKXeUwqIMqCM8c0 // teaser skyscraper
    7wtSFK1ORqmG0gOaqgCsCO // teaser square
    1CzY5FxykY8GeakeyYycAi // text-block
    -->
{% endblock %}
